form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

form h2 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 24px;
}

form input,
form button {
  padding: 10px;
  font-size: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

form input:focus {
  border-color: #6c63ff;
  outline: none;
}

form button {
  background: #806510;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.2s ease;
}

form button:hover {
    background: #e6ae36;;
}
